<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- page title -->
    <title>About</title>
    <!-- link to ABOUT css file -->
    <link rel="stylesheet" href="/public/styles/stylesAbout.css" />
    <!-- Font families   -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- giving an icon to the browser tab -->
    <link rel="icon" href="/public/images/icon.png" />
  </head>
  <body>
    <header>
      <div class="navbar-container">
        <img
          src="/public/images/tarantino-favicon.png"
          alt="Tarantino's face"
          id="tarantino-favicon"
        />

        <nav class="button-navbar-container">
          <button type="button" class="navbar-buttons">
            <a class="navbar-a" href="/views/home.html">Home</a>
          </button>
          <button type="button" class="navbar-buttons">
            <a class="navbar-a" href="/views/films.html">Films</a>
          </button>
          <button type="button" class="navbar-buttons">
            <a class="navbar-a" href="/views/photogallery.html"
              >Photo Gallery</a
            >
          </button>
        </nav>
      </div>
    </header>

    <section class="image-quote-container">
      
      <div>
        <img src="/public/images/quentin-interview-img.jpg" alt="Quentin Interview Image" id="interview-img">
      </div>

      <article class="funny-quote-container">
        <p id="funny-quote">
          "I've always said Thomas Edison invented the movie camera to show people killing and kissing.""
        </p>

      </article>



    </section>


  </body>
</html>
