<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- page title -->
    <title>just movies. No weird stuff</title>
    <!-- link to main css file -->
    <link rel="stylesheet" href="/public/styles/stylesHome.css" />
    <!-- Font families   -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
    <!-- giving an icon to the browser tab -->
    <link rel="icon" href="/public/images/icon.png">
  </head>
  <body>
    <div class="page-wide-div">

      <section class="homepage-top-section">

        <h1 id="home-main-title">I'm sorry Quentin, this is just my silly project!</h1>

      </section>

      <section class="homepage-lower-section">

        <ol>
          <li>
            <button class="buttons-homepage" type="button">
              <a href="/views/films.html">Films</a>
            </button>
          </li>
          <li>
            <button class="buttons-homepage" type="button">
              <a href="/views/about.html">About</a>
            </button>
          </li>
          <li>
            <button class="buttons-homepage" type="button">
              <a href="/views/photogallery.html">Photo Gallery</a>
            </button>
          </li>
        </ol>

        <div class="home-lowerimages">
            <img class="rolling-images" src="/public/images/django-poster.jpg" alt="">
            <img class="rolling-images" src="/public/images/Hatefuleight-poster.jpg" alt="">
            <img class="rolling-images" src="/public/images/killbill-poster.jpg" alt="">
            <img class="rolling-images" src="/public/images/onceuponatime-poster.jpg" alt="">
            <img class="rolling-images" src="/public/images/pulpfiction-poster.jpg" alt="">
            <img class="rolling-images" src="/public/images/reservoirdogs-poster.jpg" alt="">
        </div>

      </section>

    </div>
  </body>
</html>
